@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.hidden {
  position: absolute;
  z-index: -100;
  opacity: 0;
  top: -5000px;
}

header {
  border-top: 5px solid #239347;
  width: 100vw;
  padding-top: 50px;
  margin-bottom: 50px;
}
header .inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
header .inner h1 {
  position: relative;
  top: -20px;
  text-align: center;
}
header .inner h1 a {
  color: #000;
}
header .inner h1 a img {
  width: 202px;
}
header .inner nav {
  position: absolute;
  right: 0px;
  top: 0px;
}
header .inner nav ul {
  display: flex;
}
header .inner nav ul li {
  width: 75px;
  display: flex;
  justify-content: space-around;
}
header .inner nav ul li:nth-of-type(1) {
  position: relative;
}
header .inner nav ul li:nth-of-type(1)::after {
  position: absolute;
  top: 17px;
  right: 0;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
}
header .inner nav ul li a {
  color: #777;
  font: 12px/40px "맑은 고딕";
}

.search {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}
.search .inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  border: 2px solid #239347;
  display: flex;
  border-radius: 20px;
  padding: 5px;
}
.search .inner input {
  border: 1px solid #239347;
  border: none;
  font: 16px/1 Noto Sans KR;
  width: 100%;
  padding-left: 20px;
  margin-left: 10px;
}
.search .inner a {
  width: 40px;
  font-size: 20px;
  text-align: center;
  color: #ffcb0a;
  border-left: 1px solid #239347;
}

footer {
  width: 100vw;
  height: 100px;
  background-color: rgb(64, 87, 73);
}
footer > .inner {
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer > .inner .footerMenu ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer > .inner .footerMenu ul li {
  color: #bbb;
  font: 11px/1 "맑은 고딕";
}
footer > .inner .footerMenu ul li:nth-of-type(1) {
  padding-right: 18px;
  border-right: 1px solid #bbb;
}
footer > .inner .footerMenu2 ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer > .inner .footerMenu2 ul li {
  color: #bbb;
  font: 11px/1 "맑은 고딕";
}

.board {
  margin-top: 50px;
  text-align: center;
  padding: 20px 20px 100px 20px;
}
.board h1 {
  color: #000;
  margin-top: 50px;
  font: 40px/1 Black Han Sans;
  position: relative;
}
.board h1::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ffcb0a;
  border-radius: 50px 50px 0 50px;
  position: absolute;
  z-index: -1;
  top: -10px;
  transform: translateX(-13px);
}
.board .inner {
  margin: 0 auto;
  max-width: 1200px;
}
.board .inner h2 {
  color: #444;
  margin-top: 20px;
  margin-bottom: 50px;
  font: 20px/1 Black Han Sans;
}
.board .inner article {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.board .inner article h3 {
  font-size: 16px;
  color: #222;
  text-align: left;
  font: 25px/1 Black Han Sans;
  position: relative;
}
.board .inner article h3::before {
  display: inline-block;
  content: "";
  width: 35px;
  height: 35px;
  background-color: #ffcb0a;
  border-radius: 50px 50px 0 50px;
  position: absolute;
  z-index: -1;
  top: -10px;
  transform: translateX(-13px);
}
.board .inner article > ul {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.board .inner article > ul > li {
  border: 2px solid #239347;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.board .inner article > ul > li .card {
  width: 100%;
  height: 100%;
  background-color: none;
  transition: 0.2s;
}
.board .inner article > ul > li .card .card-body img {
  transition: 0.3s;
}
.board .inner article > ul > li .card .card-body .card-title {
  font-size: 16px;
  color: #222;
  font: 16px/1 Black Han Sans;
}
.board .inner article > ul > li .card .card-body .card-text {
  font-size: 16px;
  color: #444;
  font: 14px/1 Noto Sans KR;
  position: relative;
  z-index: 1;
}
.board .inner article > ul > li .card .card-body .btn-primary {
  background-color: #239347;
  border: none;
  outline: none;
}
.board .inner article > ul > li .card .card-body .btn-primary:hover {
  background-color: #0c5024;
}
.board .inner article > ul > li:hover .card .card-body img {
  transform: scale(1.1);
}
.board .inner .post {
  margin-top: 20px;
}
.board .inner .post h2 {
  color: #555;
  margin-bottom: 10px;
}
.board .inner .post form {
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px;
  background-color: #fff;
  border: 2px solid #239347;
}
.board .inner .post form .postTitle {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.board .inner .post form .postTitle dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.board .inner .post form .postTitle dl dt {
  width: 20%;
  height: 40px;
  font: 20px/40px Noto Sans KR;
  border-right: 1px dotted #ddd;
}
.board .inner .post form .postTitle dl dd {
  width: 80%;
  text-align: left;
}
.board .inner .post form .postTitle dl dd span input {
  border: none;
  font: 12px/1 Noto Sans KR;
  width: 100%;
  padding-left: 20px;
}
.board .inner .post form .postDetail {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.board .inner .post form .postDetail dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.board .inner .post form .postDetail dl dt {
  width: 20%;
  height: 300px;
  font: 20px/300px Noto Sans KR;
  border-right: 1px dotted #ddd;
}
.board .inner .post form .postDetail dl dd {
  width: 80%;
  text-align: left;
  height: 300px;
}
.board .inner .post form .postDetail dl dd span textarea {
  border: none;
  font: 12px/1 Noto Sans KR;
  width: 100%;
  padding-left: 20px;
  height: 100%;
}
.board .inner .post form button {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  transition: 0.3s;
  border: 2px solid #239347;
  background-color: #fff;
  cursor: pointer;
}
.board .inner .post form button a {
  display: block;
  width: 100%;
  height: 100%;
  font: bold 20px/50px Noto Sans KR;
  color: #239347;
  text-decoration: none;
  transition: 0.3s;
}
.board .inner .post form button:hover {
  border: 2px solid #cfaa24;
  background-color: #ffcb0a;
}
.board .inner .post form button:hover a {
  color: #fff;
}

#logInPage {
  width: 100vw;
  background-color: #eee;
  padding: 100px;
}
#logInPage .inner {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  padding: 50px 20px 50px 20px;
}
#logInPage .inner h3 {
  font: bold 30px/1 Noto Sans KR;
}
#logInPage .inner p {
  padding: 50px 0 50px 0;
  margin: 0 auto;
  width: 250px;
  font: 13px/1.2 Noto Sans KR;
}
#logInPage .inner #logIn {
  width: 70%;
  margin: 0 auto;
}
#logInPage .inner #logIn .textBox {
  margin: 0 auto;
  border: 1px solid #ddd;
}
#logInPage .inner #logIn .textBox label {
  display: flex;
  height: 70px;
  justify-content: start;
}
#logInPage .inner #logIn .textBox label:nth-of-type(1) {
  border-bottom: 1px solid #ddd;
}
#logInPage .inner #logIn .textBox label span {
  width: 35%;
  height: 70px;
  font: bold 18px/70px Noto Sans KR;
  color: #555;
  white-space: nowrap;
}
#logInPage .inner #logIn .textBox label input {
  padding-left: 10px;
  width: 65%;
  border: none;
  font: 14px/70px Noto Sans KR;
}
#logInPage .inner #logIn .idSave {
  text-align: left;
  margin-top: 20px;
  height: 30px;
  display: flex;
}
#logInPage .inner #logIn .idSave input {
  display: none;
}
#logInPage .inner #logIn .idSave input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#logInPage .inner #logIn .idSave input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#logInPage .inner #logIn .idSave input + label i {
  display: none;
}
#logInPage .inner #logIn .idSave input + label strong {
  margin-left: 10px;
  font: 14px/1 Noto Sans KR;
  color: #444;
}
#logInPage .inner #logIn .idSave input:checked + label {
  position: relative;
}
#logInPage .inner #logIn .idSave input:checked + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#logInPage .inner #logIn .idSave input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 2px;
  font-size: 30px;
  color: #239347;
}
#logInPage .inner #logIn #btnIn {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  background-color: #239347;
  height: 50px;
  font: bold 16px/1 Noto Sans KR;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#logInPage .inner #logIn #btnIn:hover {
  background-color: #196431;
}
#logInPage .inner .logInMenu {
  width: 70%;
  margin: 0 auto;
}
#logInPage .inner .logInMenu ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#logInPage .inner .logInMenu ul li {
  text-align: center;
  width: 33%;
  border-right: 1px solid #ddd;
}
#logInPage .inner .logInMenu ul li a {
  font: 13px/1 Noto Sans KR;
  color: #555;
}
#logInPage .inner .logInMenu ul li:nth-of-type(3) {
  border: none;
}

#agreementPage {
  width: 100vw;
  background-color: #eee;
  padding: 50px;
  text-align: center;
}
#agreementPage h3 {
  font: bold 30px/1 Noto Sans KR;
  color: #444;
}
#agreementPage .step {
  margin: 50px 0 50px 0;
}
#agreementPage .step ul {
  display: flex;
  justify-content: center;
}
#agreementPage .step ul li {
  margin-right: 100px;
}
#agreementPage .step ul li::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #bbb;
  position: relative;
  top: 27px;
  right: -75px;
}
#agreementPage .step ul li i {
  font-size: 50px;
  color: #bbb;
}
#agreementPage .step ul li:nth-of-type(3) {
  margin: 0;
}
#agreementPage .step ul li:nth-of-type(3)::before {
  display: none;
}
#agreementPage .step ul li.on i {
  color: #ffcb0a;
}
#agreementPage .step ul li.on::before {
  background-color: #ffcb0a;
}
#agreementPage .inner {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
}
#agreementPage .inner h2 {
  width: 100%;
  height: 50px;
  display: block;
  background-color: #239347;
  font: bold 20px/50px Noto Sans KR;
  color: #fff;
}
#agreementPage .inner #agreement {
  margin: 50px;
  text-align: left;
}
#agreementPage .inner #agreement .allAgree input {
  display: none;
}
#agreementPage .inner #agreement .allAgree input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#agreementPage .inner #agreement .allAgree input + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .allAgree input + label i {
  display: none;
}
#agreementPage .inner #agreement .allAgree input + label strong {
  margin-left: 10px;
  font: bold 20px/1 Noto Sans KR;
  color: #444;
}
#agreementPage .inner #agreement .allAgree input:checked + label {
  position: relative;
}
#agreementPage .inner #agreement .allAgree input:checked + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .allAgree input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 3px;
  font-size: 40px;
  color: #239347;
}
#agreementPage .inner #agreement .agreeMain {
  margin-top: 50px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label i {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label span {
  margin-left: 10px;
  font: bold 16px/1 Noto Sans KR;
  color: #239347;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input + label p {
  margin-left: 10px;
  font: 16px/1 Noto Sans KR;
  color: #555;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input:checked + label {
  position: relative;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input:checked + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeBox input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 3px;
  font-size: 35px;
  color: #239347;
}
#agreementPage .inner #agreement .agreeMain .agree:nth-of-type(3) .agreeBox span {
  color: #555;
}
#agreementPage .inner #agreement .agreeMain .agree:nth-of-type(3) .agreeText {
  margin-bottom: 10px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 100%;
  height: 180px;
  border: 1px solid #ddd;
  overflow-y: scroll;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText::-webkit-scrollbar-thumb {
  width: 5px;
  height: 50px;
  background-color: #888;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeText p {
  padding: 10px;
  font: 12px/1.3 Noto Sans KR;
  color: #444;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li {
  display: flex;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label i {
  display: none;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input + label p {
  margin-left: 10px;
  font: 12px/1 Noto Sans KR;
  color: #555;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input:checked + label {
  position: relative;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input:checked + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #bbb;
  border-radius: 30px;
}
#agreementPage .inner #agreement .agreeMain .agree .agreeSmsCheck ul li input:checked + label i {
  display: inline-block;
  position: absolute;
  top: -5px;
  font-size: 20px;
  color: #239347;
}
#agreementPage .inner #agreement #agreeNext {
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font: bold 20px/50px Noto Sans KR;
  border: 2px solid #239347;
  color: #239347;
  background-color: #fff;
  cursor: pointer;
}

#joinPage {
  width: 100vw;
  background-color: #eee;
  padding: 50px;
  text-align: center;
}
#joinPage h3 {
  font: bold 30px/1 Noto Sans KR;
  color: #444;
}
#joinPage .step {
  margin: 50px 0 50px 0;
}
#joinPage .step ul {
  display: flex;
  justify-content: center;
}
#joinPage .step ul li {
  margin-right: 100px;
}
#joinPage .step ul li::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #bbb;
  position: relative;
  top: 27px;
  right: -75px;
}
#joinPage .step ul li i {
  font-size: 50px;
  color: #bbb;
}
#joinPage .step ul li:nth-of-type(3) {
  margin: 0;
}
#joinPage .step ul li:nth-of-type(3)::before {
  display: none;
}
#joinPage .step ul li.on i {
  color: #ffcb0a;
}
#joinPage .step ul li.on::before {
  background-color: #ffcb0a;
}
#joinPage .inner {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
}
#joinPage .inner h2 {
  width: 100%;
  height: 50px;
  display: block;
  background-color: #239347;
  font: bold 20px/50px Noto Sans KR;
  color: #fff;
}
#joinPage .inner #join {
  margin: 50px;
  text-align: left;
}
#joinPage .inner #join h3 {
  font: bold 18px/50px Noto Sans KR;
  color: #444;
}
#joinPage .inner #join .joinText {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
#joinPage .inner #join .joinText .joinId {
  border: 1px solid #ddd;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
}
#joinPage .inner #join .joinText .joinId dl {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#joinPage .inner #join .joinText .joinId dl dt {
  width: 20%;
  font: 13px/60px Noto Sans KR;
}
#joinPage .inner #join .joinText .joinId dl dd {
  width: 80%;
  display: flex;
  font: 12px/60px Noto Sans KR;
}
#joinPage .inner #join .joinText .joinId dl dd span input {
  border: none;
  font: 12px/60px Noto Sans KR;
  width: 120px;
  padding-left: 5px;
}
#joinPage .inner #join .joinText .joinId dl dd span #joinIdSelect {
  border: 1px solid #ddd;
  margin-left: 5px;
  font: 12px/60px Noto Sans KR;
  color: #444;
}
#joinPage .inner #join .joinText .joinId dl dd .idTest {
  margin-left: 20px;
  border-left: 1px solid #ddd;
}
#joinPage .inner #join .joinText .joinId dl dd .idTest a {
  margin-left: 20px;
  display: block;
  font: bold 12px/60px Noto Sans KR;
  color: #239347;
}
#joinPage .inner #join .joinText .joinPw, #joinPage .inner #join .joinText .joinPw2 {
  border: 1px solid #ddd;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
}
#joinPage .inner #join .joinText .joinPw dl, #joinPage .inner #join .joinText .joinPw2 dl {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#joinPage .inner #join .joinText .joinPw dl dt, #joinPage .inner #join .joinText .joinPw2 dl dt {
  width: 20%;
  font: 13px/60px Noto Sans KR;
}
#joinPage .inner #join .joinText .joinPw dl dd, #joinPage .inner #join .joinText .joinPw2 dl dd {
  width: 80%;
  display: flex;
  font: 12px/60px Noto Sans KR;
}
#joinPage .inner #join .joinText .joinPw dl dd span input, #joinPage .inner #join .joinText .joinPw2 dl dd span input {
  border: none;
  font: 12px/60px Noto Sans KR;
  padding-left: 5px;
}
#joinPage .inner #join #joinNext {
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font: bold 20px/50px Noto Sans KR;
  border: 2px solid #239347;
  color: #239347;
  background-color: #fff;
  cursor: pointer;
}

#resultPage {
  width: 100vw;
  background-color: #eee;
  padding: 50px;
  text-align: center;
}
#resultPage .step {
  margin: 50px 0 50px 0;
}
#resultPage .step ul {
  display: flex;
  justify-content: center;
}
#resultPage .step ul li {
  margin-right: 100px;
}
#resultPage .step ul li::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #bbb;
  position: relative;
  top: 27px;
  right: -75px;
}
#resultPage .step ul li i {
  font-size: 50px;
  color: #bbb;
}
#resultPage .step ul li:nth-of-type(3) {
  margin: 0;
}
#resultPage .step ul li:nth-of-type(3)::before {
  display: none;
}
#resultPage .step ul li.on i {
  color: #ffcb0a;
}
#resultPage .step ul li.on::before {
  background-color: #ffcb0a;
}
#resultPage .inner {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
}
#resultPage .inner h2 {
  width: 100%;
  height: 50px;
  display: block;
  background-color: #239347;
  font: bold 20px/50px Noto Sans KR;
  color: #fff;
}
#resultPage .inner p {
  margin: 50px 0 50px 0;
  font: bold 25px/50px Noto Sans KR;
}
#resultPage .inner a {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font: bold 20px/50px Noto Sans KR;
  border: 2px solid #239347;
  color: #239347;
  background-color: #fff;
  cursor: pointer;
}

.community {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}
.community .inner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.community .inner h1 {
  font: 40px/1 Black Han Sans;
  position: relative;
  margin-bottom: 20px;
}
.community .inner h1::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ffcb0a;
  border-radius: 50px 50px 0 50px;
  position: absolute;
  z-index: -1;
  top: -10px;
  transform: translateX(-13px);
}
.community .inner table {
  width: 100%;
  border-bottom: 2px solid #239347;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.community .inner table tr {
  transition: 0.3s;
}
.community .inner table tr:nth-of-type(even) {
  background: #fffcf3;
}
.community .inner table tr:hover {
  background: #97c5a6;
}
.community .inner table tr th {
  padding: 15px;
  background: #239347;
  color: #eee;
  font: 16px/1 Noto Sans KR;
}
.community .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.community .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.community .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #91b49e;
  text-align: center;
  font-family: Noto Sans KR;
}
.community .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.community .inner table tr td:nth-of-type(3) {
  font-family: Noto Sans KR;
}
.community .inner table tr td a {
  color: #333;
  line-height: 1.4;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
}
.community .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  background: #239347;
  color: #eee;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}
.community .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  background: #239347;
  color: #eee;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}
.community .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.community .inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #239347;
  font: 11px/30px "arial";
  color: #239347;
  margin: 0 5px;
  transition: 0.5s;
}
.community .inner .pagination .numbers a:hover {
  background: #239347;
  color: #fff;
}

.posts {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}
.posts > .inner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.posts > .inner h1 {
  font: 40px/1 Black Han Sans;
  position: relative;
  margin-bottom: 20px;
}
.posts > .inner h1::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ffcb0a;
  border-radius: 50px 50px 0 50px;
  position: absolute;
  z-index: -1;
  top: -10px;
  transform: translateX(-13px);
}
.posts > .inner table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #239347;
  border-bottom: none;
}
.posts > .inner table tr th {
  padding: 15px;
  background: #239347;
  color: #eee;
  font: 16px/1 Noto Sans KR;
}
.posts > .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.posts > .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.posts > .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.posts > .inner table tr td {
  padding: 13px;
  text-align: center;
  font-family: Noto Sans KR;
  border-left: 1px solid #239347;
}
.posts > .inner table tr td:nth-of-type(2) {
  text-align: center;
}
.posts > .inner table tr td:nth-of-type(3) {
  font-family: Noto Sans KR;
}
.posts > .inner table tr td a {
  color: #333;
  line-height: 1.4;
}
.posts > .inner .postBox {
  display: block;
  width: 100%;
  height: 500px;
  border: 1px solid #239347;
  border-bottom: 2px solid #239347;
}
.posts > .inner .postBox ul li {
  margin-top: 20px;
  font: 18px/1 Noto Sans KR;
}
.posts > .inner .postBox p {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: left;
  font: 14px/1 Noto Sans KR;
}
.posts > .inner .pagination {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.posts > .inner .pagination .prev {
  display: block;
  width: 30px;
  height: 30px;
  background: #239347;
  color: #eee;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}
.posts > .inner .pagination .next {
  display: block;
  width: 30px;
  height: 30px;
  background: #239347;
  color: #eee;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}

/*# sourceMappingURL=style.css.map */
