#joinPage{
    width: 100vw;
    background-color: #eee;
    padding: 50px;
    text-align: center;

    h3{
        font: bold 30px/1 $font1;
        color: #444;
    }
    .step{
        margin: 50px 0 50px 0;
        ul{
            display: flex;
            justify-content: center;
            li{
                &::before{
                    display: block;
                    content: '';
                    width: 50px;
                    height: 4px;
                    border-radius: 4px;
                    background-color: #bbb;
                    position: relative;
                    top: 27px;
                    right: -75px;
                }
                i{
                    font-size: 50px;
                    color: #bbb;
                }
                margin-right: 100px;

                &:nth-of-type(3){
                    margin: 0;

                    &::before{
                        display: none;
                        
                    }
                }
                &.on{
                    i{
                        color: #ffcb0a;
                    }
                    &::before{
                        background-color: #ffcb0a;
                    }
                }
            }
        }
    }
    .inner{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
        box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
        border-radius: 10px 0 10px 0;
        overflow: hidden;
        position: relative;
       
        h2{
            width: 100%;
            height: 50px;
            display: block;
            background-color: #239347;
            font: bold 20px/50px $font1;
            color: #fff; 
        }
        #join{
            margin: 50px;
            text-align: left;
         
            
            h3{
                font: bold 18px/50px $font1;
                color: #444;
            }
            .joinText{
                padding-bottom: 50px;
                border-bottom: 1px solid #ddd;
                .joinId{
                    border: 1px solid #ddd;
                    width: 100%;
                    height: 80px;
                    padding: 10px;
                    margin-bottom: 10px;
                    dl{
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        dt{
                            width: 20%;
                            font: 13px/60px $font1;
                        }
                        dd{
                            width: 80%;
                            display: flex;
                            font: 12px/60px $font1;
                            span{
                                
                                input{
                                    border: none;
                                    font: 12px/60px $font1;
                                    width: 120px;
                                    padding-left: 5px;
                                }
                                #joinIdSelect{
                                    border: 1px solid #ddd;
                                    margin-left: 5px;
                                    font: 12px/60px $font1;
                                    color: #444;
                                }
                                
                            }
                            .idTest{
                                    margin-left: 20px;
                                    border-left: 1px solid #ddd;
                                a{
                                    margin-left: 20px;
                                    display: block;
                                    font: bold 12px/60px $font1;
                                    color: #239347;
                                    
                                }
                            }
                        }
                    }
                }
                .joinPw,.joinPw2{
                    border: 1px solid #ddd;
                    width: 100%;
                    height: 80px;
                    padding: 10px;
                    margin-bottom: 10px;
                  
                        dl{
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            dt{
                                width: 20%;
                                font: 13px/60px $font1;
                            }
                            dd{
                                width: 80%;
                                display: flex;
                                font: 12px/60px $font1;
                                span{
                                    
                                    input{
                                        border: none;
                                        font: 12px/60px $font1;
                                        padding-left: 5px;
                                    }
                                }
                            }
                        
                    }
                }
            }
            #joinNext{
                margin-top: 50px;
                position: relative;
                left: 50%;
                transform: translate(-50%);
                width: 200px;
                height: 50px;
                border-radius: 25px;
                font: bold 20px/50px $font1;
                border: 2px solid #239347;
                color: #239347;
                background-color: #fff;
                cursor: pointer;
            }
        }
    }
}